# Ignore folder for gathered commands 'gathered_commands'
gathered_commands/

# Ignore folder for pyats job cache files
__pycache__/

# Ignore idea folder from PyCharm
.idea/

# Ignore virlutils folder
.virl/default

# Ignore Notebook checkpoints
.ipynb_checkpoints
